*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff9ecb,#ffd1dc,#b388ff);
overflow:hidden;
font-family:Poppins;
}

.card{

width:380px;
background:white;
padding:25px;
border-radius:20px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,.2);

animation:muncul 1s;
}

@keyframes muncul{

from{

opacity:0;
transform:translateY(50px);

}

to{

opacity:1;
transform:translateY(0);

}

}

h1{

font-family:Pacifico;
color:#ff4d88;

}

h2{

margin:10px;
color:#444;

}

.slideshow img{

width:250px;
height:320px;
object-fit:cover;
border-radius:20px;
margin:20px auto;
box-shadow:0 8px 25px rgba(0,0,0,.2);

}

#typing{

margin:20px;
font-size:16px;
line-height:30px;

}

button{

padding:15px 35px;
border:none;
border-radius:50px;
background:#ff4d88;
color:white;
font-size:18px;
cursor:pointer;
transition:.3s;

}

button:hover{

transform:scale(1.1);

}
